<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.trans.Mapper.Articlemapper">
    <!--查询文章信息-->
    <select id="selectArticle" resultType="com.project.trans.Bean.Article">
        select * from iwroid_article
        where 1=1
        <if test="conditon != null and condition != ''">
            and ((title like CONCAT('%',#{name},'%')
            or content like CONCAT('%',#{name},'%')
            or author like CONCAT('%',#{name},'%'))
        </if>
    </select>
    <!--添加文章信息-->
    <insert id="insertArticle" parameterType="com.project.trans.Bean.Article">
        insert into iwroid_article (id,title,content,author,createTime,updateTime,viewNumber)
        values(#{id},#{title},#{content},#{author},#{createTime},#{updateTime},#{viewNumber})
    </insert>
    <!--修改文章信息-->
    <update id="updateArticle" >
        update iwroid_article set title=#{title},content=#{content},author=#{author},createTime=#{createTime},updateTime=#{updateTime} where id=#{id}
    </update>
    <!--删除文章-->
    <delete id="deleteArticle">
        delete from iwroid_article where id=#{id}
    </delete>
</mapper>